.game {
    max-width: 600px;
    max-height: 450px;
    position: relative;
    overflow: hidden;
}

.background {
    background: rgb(50, 160, 240);
    table-layout: fixed;
    border-spacing: 0; 
}

.background td {
    padding: 0;
}

.lava {
    background: rgb(255, 100, 100);
}

.wall {
    background: white;
}
